body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2475px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2475px;
  height:2560px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2475px;
  height:2560px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1272px;
  width:2471px;
  visibility:hidden;
  word-wrap:break-word;
}
