body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2413px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u642_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:2560px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:2560px;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1272px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:82px;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:1440px;
  height:82px;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:33px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u646_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:586px;
  top:1103px;
  width:1px;
  height:16px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u648_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:92px;
  width:1438px;
  height:150px;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:138px;
  width:59px;
  height:59px;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u652_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:634px;
  top:136px;
  width:193px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u654_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:150px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:243px;
  width:1438px;
  height:150px;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:67px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:355px;
  height:10px;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:388px;
  width:350px;
  height:5px;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u658_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:138px;
  top:292px;
  width:97px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:500px;
  top:292px;
  width:145px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:863px;
  top:292px;
  width:145px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:292px;
  width:145px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:2px;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:241px;
  width:1438px;
  height:1px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:433px;
  width:1438px;
  height:600px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u670_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:2px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:614px;
  width:1438px;
  height:1px;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:492px;
  width:157px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:492px;
  width:357px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:357px;
  white-space:nowrap;
}
#u676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:492px;
  width:145px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:648px;
  width:637px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  white-space:nowrap;
}
#u680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:767px;
  width:744px;
  height:94px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  white-space:nowrap;
}
#u682_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:918px;
  width:1125px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1125px;
  white-space:nowrap;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:767px;
  width:194px;
  height:94px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:682px;
  top:765px;
  width:1px;
  height:16px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  visibility:hidden;
  white-space:nowrap;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1438px;
  height:600px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1073px;
  width:1438px;
  height:600px;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:292px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1132px;
  width:157px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:157px;
  white-space:nowrap;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:215px;
  top:1132px;
  width:366px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:366px;
  white-space:nowrap;
}
#u694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:1132px;
  width:145px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u696_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1288px;
  width:637px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:637px;
  white-space:nowrap;
}
#u698_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1407px;
  width:744px;
  height:94px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:744px;
  white-space:nowrap;
}
#u700_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  height:62px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:48px;
  top:1558px;
  width:664px;
  height:62px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:664px;
  white-space:nowrap;
}
#u702_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:1177px;
  top:1407px;
  width:194px;
  height:94px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#999999;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1439px;
  height:2px;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:11px;
  top:1252px;
  width:1438px;
  height:1px;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1434px;
  visibility:hidden;
  word-wrap:break-word;
}
#u706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:757px;
  height:1111px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u706 {
  border-width:0px;
  position:absolute;
  left:1656px;
  top:492px;
  width:757px;
  height:1111px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:548px;
  width:753px;
  visibility:hidden;
  word-wrap:break-word;
}
#u708_img {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-13px;
  width:226px;
  height:31px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:1406px;
  top:523px;
  width:200px;
  height:5px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u710_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:94px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#199ED8;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:1803px;
  top:508px;
  width:433px;
  height:94px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:72px;
  color:#199ED8;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  white-space:nowrap;
}
#u712_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  height:930px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:1687px;
  top:648px;
  width:726px;
  height:930px;
  font-family:'Microsoft YaHei UI Light', 'Microsoft YaHei UI';
  font-weight:290;
  font-style:normal;
  font-size:48px;
  color:#999999;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:726px;
  white-space:nowrap;
}
